---
import "@fontsource-variable/inter";
import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import Card from "../components/card.astro";
import Chip from "../components/chip.astro";
import logoreverse from "~/assets/logo-reverse.png";
import logo from "~/assets/logo.png";
import { Image } from "astro:assets";
import "~/styles/index.css";

const { generator, site } = Astro;
const widths = [450, 800];
const sizes = "(max-width: 640px) 42vw, 67vw";
const image = new URL("social.jpg", site);
const description =
  "Raising the bar of midwestern Lindy Hop";


// Put all your links here
const links: Link[] = [
  {
    desc: "Facebook", // The text that will be rendered
    link: "www.facebook.com/swingerasteps", // The link
    icon: "fa-brands fa-facebook", // An icon from Font Awesome: https://fontawesome.com/search?o=r&m=free
  },
  {
    desc: "Instagram",
    link: "www.instagram.com/swing.era.steps",
    icon: "fa-brands fa-instagram",
  },
  {
    desc: "Website",
    link: "www.swingerasteps.com/",
    icon: "fa-solid fa-link",
  },
];
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <meta charset='utf-8' />
    <link rel='icon' type='image/x-icon' href='/favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'
      integrity='sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <title>Swing Era Steps</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Swing Era Steps" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
	<!-- Google tag (gtag.js) -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-EFK814JDFT"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EFK814JDFT');
</script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white flex justify-center items-center w-screen h-screen" 
  >
<main class='w-[80%] flex flex-col gap-8'>

<div class="flex justify-center items-center">
<Image class="max-w-[400px] block dark:hidden" src={logo} alt="A pair of shoes">
</div>

      <div class='flex justify-center gap-8'>
<iframe width="540" height="1000" src="https://dc95dc46.sibforms.com/serve/MUIFAKagCZ5NmlzDAEy_7oPSCAsb9Wbj-o3KeOFXuPASHoeMyO9JRzaZsLzFNJwJRj7ULSKWocaPSejqWPxUU3Ua2Ahq-Ofd9Uo2WYWZTfykB-_FCPdSF4DWGuRA43nO8RINBqO3CHKw80Tj0BUVan4A9RNTBPXVtf0J2qQ3-zL-YzIJaGyiAm1Rq_jYckx4NhyXCRJRSyqK3L6D" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>

      </div>
    </main>

  </body>
</html>
