---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import shoes from "~/assets/shoes.png";
import logoreverse from "~/assets/logo-reverse.png";
import HeroImage from "~/components/hero-image.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section id="splash" class="class="relative flex h-64 items-center justify-center"">
    <h2
      class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >

	<Image
        class="w-1/2 object-cover"
        src={shoes}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A pair of shoes"
      />
	<Image
        class="w-1/2 object-cover"
        src={logoreverse}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A pair of shoes"
      />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
        Discover your
        <br /> hidden dance talent
      </div>
    </h2>
</section>

<noscript>
  <style>
    #splash {
      display: block;
      background-color: green;
      height: 100%;
    }
  </style>
</noscript>
